<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>projectGM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>serv</display-name>
    <servlet-name>serv</servlet-name>
    <servlet-class>serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv</servlet-name>
    <url-pattern>/serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serv1</display-name>
    <servlet-name>serv1</servlet-name>
    <servlet-class>serv1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv1</servlet-name>
    <url-pattern>/serv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serv2</display-name>
    <servlet-name>serv2</servlet-name>
    <servlet-class>serv2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv2</servlet-name>
    <url-pattern>/serv2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serv3</display-name>
    <servlet-name>serv3</servlet-name>
    <servlet-class>serv3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv3</servlet-name>
    <url-pattern>/serv3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update</display-name>
    <servlet-name>update</servlet-name>
    <servlet-class>update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgetpass</display-name>
    <servlet-name>forgetpass</servlet-name>
    <servlet-class>forgetpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgetpass</servlet-name>
    <url-pattern>/forgetpass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>redirect</display-name>
    <servlet-name>redirect</servlet-name>
    <servlet-class>redirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirect</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>beforeotp</display-name>
    <servlet-name>beforeotp</servlet-name>
    <servlet-class>beforeotp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>beforeotp</servlet-name>
    <url-pattern>/beforeotp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>midotp</display-name>
    <servlet-name>midotp</servlet-name>
    <servlet-class>midotp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>midotp</servlet-name>
    <url-pattern>/midotp</url-pattern>
  </servlet-mapping>
</web-app>